
<%= form_for @medical_history, html: {role: "form"}  do |f| %>

<% if @medical_history.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@medical_history.errors.count, "error") %> prohibited this medical_history from being saved:</h2>

  <ul>
    <% @medical_history.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading dark-grey">
        <h4><b>Vitals</b></h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-xs-4">
            <%= f.label "BP", class: "col-sm-1 control-label" %>
            <%= f.text_field :bp, class: "form-control" %>

          </div>

          <div class="field form-group col-xs-4">
            <%= f.label :temperature, class: "col-sm-1 control-label" %>

            <%= f.text_field :temperature, class: "form-control" %>
          </div>

          <div class="field form-group col-xs-4">
            <%= f.label :weight,class: "col-sm-1 control-label" %>
            <%= f.text_field :weight, class: "form-control" %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">

  <div class="field form-group col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading dark-gray">
        <h4><%= f.label "signs and symptoms" %></h4>
      </div>
      <%= f.text_area :signsymptoms, placeholder: "enter all signs and symptoms here", class: "form-control", rows: "5" %>
    </div>

  </div>

  <div class="field form-group col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading dark-gray">
        <h4><%= f.label :diagnosis %></h4>
      </div>
      <%= f.text_area :diagnosis, placeholder: "enter all diagnosis here", class: "form-control", rows: "5" %>
    </div>

  </div>

  <div class="col-md-1"></div>
</div>

<div class="row">
  <div class="field form-group col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading dark-gray">
        <h4><%= f.label :drugs %></h4>
      </div>
      <%= f.text_area :drugs, placeholder: "enter all drugs here", class: "form-control", rows: "5" %>
    </div>

  </div>

  <div class="field form-group col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading dark-gray">
        <h4> <%= f.label "lab Tests" %></h4>
      </div>
      <%= f.text_area :labTest, placeholder: "enter all lab tests here", class: "form-control", rows: "5" %>
    </div>

  </div>
  <%= f.hidden_field :patient_id %>

</div>
<div class="actions">
  <%= f.submit nil, class: "btn btn-default" %>
</div>
<% end %>