
<div class="row">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>BP:</strong>
    <%= @medical_history.bp %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= @medical_history.temperature %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @medical_history.weight %>
  </p>

  <p>
    <strong>Signs and symptoms:</strong>
    <%= @medical_history.signsymptoms %>
  </p>

  <p>
    <strong>Diagnosis:</strong>
    <%= @medical_history.diagnosis %>
  </p>

  <p>
    <strong>Medications:</strong>
    <%= @medical_history.drugs %>
  </p>

  <p>
    <strong>Lab test:</strong>
    <%= @medical_history.labTest %>
  </p>

  <%= link_to 'Edit', edit_medical_history_path(@medical_history) %> |
  <%= link_to 'Back', medical_histories_path %>
</div>