<div class="row">
  <p id="notice"><%= notice %></p>


  <div class="panel panel-default">
    <div class="panel-heading"> <h4>Vitals</h4> </div>
    <div class="panel-body">
      <p>
        <strong>BP:</strong>
        <%= @medical_history.bp %>
      </p>

      <p>
        <strong>Temperature:</strong>
        <%= @medical_history.temperature %>
      </p>

      <p>
        <strong>Weight:</strong>
        <%= @medical_history.weight %>
      </p>
    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <strong>Signs and symptoms:</strong>
    </div>
    <div class="panel-body">
      <%= @medical_history.signsymptoms %>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">

      <strong>Diagnosis:</strong>
    </div>
    <div class="panel-body">
      <%= @medical_history.diagnosis %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>Medications:</strong>
    </div>
    <div class="panel-body">
      <%= @medical_history.drugs %>
    </div>
  </div>

  <p>
    <strong>Lab test:</strong>
    <%= @medical_history.labTest %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @medical_history.created_at.to_formatted_s(:long_ordinal)  %>
  </p>
  <%= link_to 'Edit', edit_medical_history_path(@medical_history) %> |

  <%= link_to 'List of Medical Records', medical_histories_path %> | 
  <%= link_to 'View Patient', patient_path(@medical_history.patient_id) if @medical_history.patient_id %>

</div>

