<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#img_prev')
        .attr('src', e.target.result)
        .width(240)
        .height(240);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>









<%= form_for @patient, :html => {:multipart => true} do |f| %>
<% if @patient.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

  <ul>
    <% @patient.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :nssNumber %><br>
  <%= f.number_field :nssNumber %>
</div>
<div class="field">
  <%= f.label :age %><br>
  <%= f.number_field :age %>
</div>
<div class="field">
  <%= f.label :address %><br>
  <%= f.text_area :address %>
</div>
<div class="field">
  <%= f.file_field :image , accept: 'image/png,image/gif,image/jpeg',onchange: "readURL(this);"%>

  <%= 
  if @patient.image?
    image_tag(@patient.image_url, id: "img_prev")
  else
    image_tag("", id: "img_prev", alt: "no image")
    end %>
    <%= f.hidden_field :image_cache %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
