
<%= form_tag patients_path, method: :get, role: "search", class: "navbar-form" do %>
<div class="form-group">
  <%= text_field_tag :search, params[:search],
  placeholder: 'Search for patient', type: :search, style: 'width: 400px', class: "form-control" %>
  <%= submit_tag 'Search', class: "btn btn-default" %>
</div>
<% end %>

<div class="col-md-12">
  <h1>Listing of patients</h1>
  <%= link_to 'New Patient', new_patient_path , class: "btn btn-primary" %><br>
  <div class="row">

    <% @patient.each do |patient| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumpnail">

        <%= if patient.image? 
          image_tag(patient.image , :class => "img-thumbnail") 
        else 

          image_tag("default.png", alt: "Picture of #{patient.name}" , class: "img-thumbnail") 

          end %>
          <div class="caption">
           <h3> <%= patient.name %></h3>
           <p>
             <%= patient.age %> years old
           </p>
           <p>

             <%= link_to 'Show', patient , class: "btn btn-primary btn-sm", role: "button" %>
             <%= link_to 'Edit', edit_patient_path(patient), class: "btn btn-primary btn-sm", role: "button" %>
             <%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm", role: "button" %>
           </p>
         </div>
       </div>
     </div>
     <% end %>
   </div>
 </div>

 