<!DOCTYPE html>
<html>
<head>
  <title>HospitalApi</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">

    <%= render :partial => "shared/navigator" %>

    <div class="container ">
      <div class="col-lg-3">
        
      </div>
      <div class="col-lg-9">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>

  </div>

  <%= render :partial => "shared/footer" %>
</body>
</html>

